/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    width: 1440px;
    max-height: 100vh;
    overflow-x: hidden;
  }
  .uniq{
    font-size: 35px;
  }
  
  /* HEADER STYLING */
  header .banner-container {
    
    background-color:black;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
    
  }
  header .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(250, 247, 247);
    font-size: 14px;
    width: 800px;
  }
  
  header .banner span a {
    color: rgb(253, 176, 8);
    border-bottom: solid 1px;
  }
  
  .tic{
    background-color: black;
    color:white;
  }
  
  header .banner select {
    color: rgb(73, 12, 241);
    background-color: black;
    border: none;
    outline: none;
  }
  
  header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 70px;
    background-color: #FFAB00A3;
  }
  



  header .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  header .nav-link {
    font-weight: 100;
  }
  
  header a {
    color: black;
    text-decoration: none;
  }
  
  header .logo {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }
  
  header .search-cart {
    display: flex;
    align-items: center;
    gap: 20px;;
  }
  
  header .search-bar > button {
    border: none;
    background-color: transparent;
    cursor: pointer;;
  }
  
  .top{ 
  top: 20px;
  right: 135px;
  position: relative;
  color:#FFAB00A3 ;
  }
  
  
  
  
  
  
  .first-sect{
  position:relative;
    width: 100%;
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    background: url(../assets/Newfolder/Image\ Placeholder\ \(6\).png);
    height: 820px;
    }
  
  
  .uniq{
    position: relative;
    left: 300px;
    top: 25px;
    align-items: center;
    align-content: center;
  }


  .tic{
    display: flex;
    justify-content: center;
   align-items: center;
   width:300px ;
    height:56px ;
    border-radius:8px ;
  }


  .spank{
    color: rgb(95, 110, 247);
  }
  .second-sect{
    width: 1440px;;
    border: 1px solid pink;
    grid-template-rows:auto auto;
    grid-template-columns:548px 548px;
    display: grid;
    grid-template-areas:
    "living bed"
  "living kitchen";
   gap: 15px;
  }
  
  .liv{
    position: relative;
  width: 548px; 
  height: 664px;
    display: flex;
    justify-content: center;
    grid-area: living;
  }
  
  .bor{
    position: relative;
    top: 155px;
  }
  
  
  
  .bedr{
    width: 548px; 
  height: 319px;
    display: flex;
    justify-content: center;
    grid-area: bed;
  }
  
  .kit{
  display: flex;
  width: 548px; 
  height: 319px;
  justify-content: center;
    grid-area: kitchen;
  }
  .lh4{position: relative;
  top: 250px;
  left: 168px;
  width: 420px;
  
  }
  
.lh5{
  position: relative;
  top: 600px;
  left: 168px;
  width: 420px;
  
}

  .lh4 a{
   position: relative;
    
  }
  
  .arr{
    position: relative;
    left: 40px;
  }
  .sasa{ width: 75px;
    display: flex;
    color: black;
    border-bottom: solid 1px;
    
  }
  
  .fa-arrow-right-long{
    width: 150px;
    position: relative;
    bottom: 19px;
    left: 35px;
  }
  .second-sect >.fa-arrow-left-long {
    color: black;
    right: 82px;
  }
  
  .new{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .third{
    
    display: flex;
    
  }
  
  
  .btn{
    color: azure;
    position: relative;
    left: 15px;
    bottom: 55px;
    text-align: center;
    background-color: black;
    width: 200px;
    height: 40px;
    border-radius: 8px;
  }
  
  .hom{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
  }
  
  .hohoho{
    width: 1350;
    padding: 25PX;
  }
  
  .patapa{
    
      width: 90%;
      margin: 0 auto;
    
  overflow: scroll;
  }
  
  .pap{
    width: 90%;
    margin: 0 auto;
  
  }
  
  .pan{
  color: #6C7275; 
   text-decoration:dashed ;
  }
  
  .pict{
    display: flex;
    justify-content: space-evenly;
  }
  .sale{
    background-color: aliceblue;
  }
  
  .didy{display: flex;
  justify-content: space-between;}
  
  
  .smg{
    display: flex;
    justify-content: center;
  }
  
  .hihihi{
    width: 200px;
    position: relative;
    bottom: 40px;
  }
  
  .BAD{
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 30px;
  top: 30px;
  height: 5px;
  width: 200px;
  }
  
  
  .ppp{
    background-color: white;
    width: 65px;
    border-radius: 5px;
    
  }
  
  .ppop{
    width: 70px;
    background-color: #38CB89;
    border-radius: 5px;
  }
  
  
  
  .fifth-sect{
    
    text-align: center;
    width: 100%;
  
  }
  
  .hund{
    display: flex;
    justify-content: center;
  
  }
  
  .sale{
    color: rgb(51, 51, 252);
  }
  .hundred{
    text-align: center;
    align-items: center;
    width: 50%;
  background-color: #edeff0;
  
  }
  
  
  .smg{
    display: flex;
    justify-content: space-evenly;
    color: black;
  }
  
  .red{
    color: black;
  }
  
  .dodo{
    color: black;
    position: relative;
    left: 52px;
    bottom: 4px;
    
  }
  
  
  
  
  
  .background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    background: url(./Newfolder/ImagePlaceholder.png);
    height: 360px;
    }
  
  
  .join{
    
    text-align: center;
    align-items: center;
  }
  
  .input{
    width: 540px;
    border: none;
    background-color: #f5f3f3;
    
  }
  
  .otutu{
    border-bottom: 1px solid rgb(116, 114, 114);
  }
  
.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 249px;
  padding-top: 80px;
  padding-right: 160px;
  padding-bottom: 32px;
  padding-left: 49px;
  background-color: #141718;
}

.upper-chamber {
  display: flex;
  justify-content: space-between;
  width: 1120px;
}

.upper-upper-left-footer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: white;
}

.upper-upper-right-footer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: white;
}

.white {
  color: white;
}

.line {
  margin-top: 50px;
  width: 1120px;
}

.lower-chamber {
  display: flex;
  justify-content: space-between;
  width: 1118px;
  /* border-top: 0.5px; */
  padding: 16px 0px;
}

.lower-left-footer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: white;
}

.lower-right-footer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: white;}